.navbar
{
  background-color: #2C3E50;
  height: 120px;
}
.name
{
  color: white;
  margin-top: 30px;
  margin-left: 100px;
}
.contact
{
  margin-top: 50px;
  color: white;

}
.navbar-default .navbar-nav > li > a
{
  color: white;
  margin-top: 30px;
  margin-right: 30px;
}
.navbar-default .navbar-nav > li > a:hover
{
  color: red;
}



header {
    
    background: red;
    margin-left: -120px;
    margin-right:-120px;
    
}

header img{
    display: block;
    margin-top: 200px;
    margin-left: 400px;

    
}
header .text .name
{
  color: black;
  margin-top:50px;
  display: block;
  font-size: 50px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin-left: 300px;
}
